<settings>
  <profiles>
    <profile>
       <id>default</id>
        <repositories>
          <repository>
            <id>dev-group</id>
            <name>Dev Group</name>
            <releases>
              <enabled>true</enabled>
              <updatePolicy>always</updatePolicy>
              <checksumPolicy>warn</checksumPolicy>
            </releases>
            <snapshots>
              <enabled>false</enabled>
              <updatePolicy>never</updatePolicy>
              <checksumPolicy>fail</checksumPolicy>
            </snapshots>
            <url>http://localhost:9000/archiva/repository/dev-group</url>
            <layout>default</layout>
          </repository>
          <repository>
            <id>dev</id>
            <name>Dev</name>
            <releases>
              <enabled>true</enabled>
              <updatePolicy>always</updatePolicy>
              <checksumPolicy>warn</checksumPolicy>
            </releases>
            <snapshots>
              <enabled>false</enabled>
              <updatePolicy>never</updatePolicy>
              <checksumPolicy>fail</checksumPolicy>
            </snapshots>
            <url>http://localhost:9000/archiva/repository/dev</url>
            <layout>default</layout>
          </repository>
          <repository>
            <id>prod-group</id>
            <name>Prod Group</name>
            <releases>
              <enabled>true</enabled>
              <updatePolicy>always</updatePolicy>
              <checksumPolicy>warn</checksumPolicy>
            </releases>
            <snapshots>
              <enabled>false</enabled>
              <updatePolicy>never</updatePolicy>
              <checksumPolicy>fail</checksumPolicy>
            </snapshots>
            <url>http://localhost:9000/archiva/repository/prod-group</url>
            <layout>default</layout>
          </repository>
          <repository>
            <id>prod</id>
            <name>Prod</name>
            <releases>
              <enabled>true</enabled>
              <updatePolicy>always</updatePolicy>
              <checksumPolicy>warn</checksumPolicy>
            </releases>
            <snapshots>
              <enabled>false</enabled>
              <updatePolicy>never</updatePolicy>
              <checksumPolicy>fail</checksumPolicy>
            </snapshots>
            <url>http://localhost:9000/archiva/repository/prod</url>
            <layout>default</layout>
          </repository>
          <repository>
            <id>qa-group</id>
            <name>QA Group</name>
            <releases>
              <enabled>true</enabled>
              <updatePolicy>always</updatePolicy>
              <checksumPolicy>warn</checksumPolicy>
            </releases>
            <snapshots>
              <enabled>false</enabled>
              <updatePolicy>never</updatePolicy>
              <checksumPolicy>fail</checksumPolicy>
            </snapshots>
            <url>http://localhost:9000/archiva/repository/qa-group</url>
            <layout>default</layout>
          </repository>
          <repository>
            <id>qa</id>
            <name>QA</name>
            <releases>
              <enabled>true</enabled>
              <updatePolicy>always</updatePolicy>
              <checksumPolicy>warn</checksumPolicy>
            </releases>
            <snapshots>
              <enabled>false</enabled>
              <updatePolicy>never</updatePolicy>
              <checksumPolicy>fail</checksumPolicy>
            </snapshots>
            <url>http://localhost:9000/archiva/repository/qa</url>
            <layout>default</layout>
          </repository>
          <repository>
            <id>test-group</id>
            <name>Test Group</name>
            <releases>
              <enabled>true</enabled>
              <updatePolicy>always</updatePolicy>
              <checksumPolicy>warn</checksumPolicy>
            </releases>
            <snapshots>
              <enabled>false</enabled>
              <updatePolicy>never</updatePolicy>
              <checksumPolicy>fail</checksumPolicy>
            </snapshots>
            <url>http://localhost:9000/archiva/repository/test-group</url>
            <layout>default</layout>
          </repository>
          <repository>
            <id>test</id>
            <name>Test</name>
            <releases>
              <enabled>true</enabled>
              <updatePolicy>always</updatePolicy>
              <checksumPolicy>warn</checksumPolicy>
            </releases>
            <snapshots>
              <enabled>false</enabled>
              <updatePolicy>never</updatePolicy>
              <checksumPolicy>fail</checksumPolicy>
            </snapshots>
            <url>http://localhost:9000/archiva/repository/test</url>
            <layout>default</layout>
          </repository>
          <repository>
            <id>archiva-snapshots</id>
            <name>Archiva Snapshots</name>
            <releases>
              <enabled>false</enabled>
              <updatePolicy>always</updatePolicy>
              <checksumPolicy>warn</checksumPolicy>
            </releases>
            <snapshots>
              <enabled>true</enabled>
              <updatePolicy>never</updatePolicy>
              <checksumPolicy>fail</checksumPolicy>
            </snapshots>
            <url>http://localhost:9000/archiva/repository/snapshots</url>
            <layout>default</layout>
          </repository>
        </repositories>
      </profile>
    </profiles>
  <servers>
    <server>
      <id>dev</id>
      <username>jenkins</username>
      <password>welcome1</password>
    </server>
    <server>
      <id>dev-group</id>
      <username>jenkins</username>
      <password>welcome1</password>
    </server>
    <server>
      <id>archiva-snapshots</id>
      <username>jenkins</username>
      <password>welcome1</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>dev-mirror</id>
      <name>All else</name>
      <url>http://localhost:9000/archiva/repository/dev-group</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
</settings>
